* {
    scroll-behavior: smooth;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1.6rem;
    background-image: url(./assets/BG.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    min-height: 300px;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    margin: auto;
    padding: 0 20px;
}
.app {
    width: 100%;
    display: flex;
    overflow: hidden;
}
.card {
    min-width: 100%;
    overflow: hidden;
    display: flex;
}
.card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: red;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
